<% if (success && success.length>0) { %>
  <div class="alert alert-success text-center"><%= success %></div>
<% } %>
<% if (wrong && wrong.length>0) { %>
  <div class="alert alert-danger text-center"><%= wrong %></div>
<% } %>

<div class="container mt-5" style="max-width: 400px;">
  <h3 class="text-center mb-4">Admin Login</h3>

  <form action="/admin/login" method="POST">
    <div class="mb-3">
      <label>Email</label>
      <input type="email" name="email" class="form-control" placeholder="abcd@gmail.com" required>
    </div>
    <div class="mb-3">
      <label>Password</label>
      <input type="password" placeholder="123" name="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary w-100">Login</button>
  </form>
  <div class="login-link">
      Don't have an admin account? <a href="/admin/signup">SignUp here</a>
    </div>
</div>
