  <footer class="mt-5 p-3 text-center text-muted border-top">
    <small>© <%= new Date().getFullYear() %> PupProof. All rights reserved.</small>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

  <script src="/JS/homePage.js"></script>
</body>
</html>
